@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* CSS DESKTOP */
/* Everything */
* {
    box-sizing: border-box;

}

html {
    font-family: 'Montserrat';
}

body {

    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 250px 0px gray;
    min-height: 100vh;
}

/* Bloc principal */
main {
    margin: 0px 20px;
    flex-grow: 1;
    display: flex;
}

/* Header */
.header {
    background-image: linear-gradient(#f6c2a8, #e26835);
    padding-top: 50px;
}

.header h1 {
    margin: 40px;
    color: white;
    text-align: center;
}

/* Menu de navigation */
.hamburger {
    display: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 50px;

}

nav li {
    display: inline-block;
    height: 100%;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

nav {
    background: #2f2f2f;
}

nav .active {
    background: white;

}

nav .active a {
    color: orange;
}


/* Footer */

footer {
    background: #2f2f2f;
    padding: 15px;
    text-align: center;
    width: 100%;
}

footer img {
    height: 50px;
    margin-left: auto;
}

/* Tableau du Halle of fame */
#hof{
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 50px;
}

#hof th {
    background-color: #2f2f2f;
    color: white;
    padding: 5px 0px 5px 0px;
}

#hof .hof-table-score {
    width: 20%;
}

#hof .hof-table-player {
    width: 30%;
}

#hof .hof-table-localisation {
}

#hof .hof-table-timestamp {
    width: 20%;
}

#hof .hof-top-1 {
    font-size: 28px;
    font-weight: bolder;
    background-color: #F09478;
}
#hof .hof-top-2 {
    font-size: 24px;
    font-weight: bolder;
    background-color: rgba(240, 148, 120, 0.75);
}
#hof .hof-top-3 {
    font-size: 20px;
    font-weight: bolder;
    background-color: rgba(240, 148, 120, 0.25);
}

/* Eléments solo */
a {
    color: #E26633;
    text-decoration: none;
}

h2 {
    border-bottom: 1px dotted gray;
    margin-bottom: 10px;
}

#articles {
    flex: 3;
}

#articles article > header {
    position: relative;
    margin-bottom: 50px;
}

#articles article > header > p {
    position: absolute;
    right: 0px;
    margin: 0px;
    padding-top: -10px;
}

aside {
    flex: 1;
}

aside > div {
    box-shadow: 0px 2px 5px 2px grey;
    margin-left: 20px;
}

aside > div > h3 {
    background-color: #E26633;
    color: white;
    padding: 5px;
    font-family: Arial;
}

aside > div > ul {
    list-style: none;
    padding: 0px 5px 5px 5px;
}


/* Pour le mobile */
@media only screen and (max-width: 768px) {

    main {
        display: block;
    }

    .hamburger {
        display: block;
        text-align: center;
        color: white;
        filter: brightness(0) invert(1);
    }

    nav ul {
        padding: 0px;
        text-align: center;
    }

    nav li {
        height: 100%;
        padding: 10px;
        display: block;
    }
}